@page "/createemployee"
@inject Services.IEmployeeService Service
<h3>CreateEmploye</h3>

<Form ButtonText="Create Employee" employee="@employee"
            OnValidSubmit="@CreateEmployee" />

@code {
    Employee employee = new Employee();
    async Task CreateEmployee()
    {
        await Service.AddEmployee(employee);
        
        //uriHelper.NavigateTo("developer");
    }
}
