@page "/createemployee"
@inject IEmployeeService Service
@inject NavigationManager navManger
<h3>CreateEmploye</h3>

<Form ButtonText="Create Employee" employee="@employee"
            OnValidSubmit="@CreateEmployee" />

@code {
    Employee employee = new Employee();
    async Task CreateEmployee()
    {
        await Service.AddEmployee(employee);
        navManger.NavigateTo("/");
    }
}
