@page "/updateemployee/{id}"
@inject IEmployeeService Service
@inject NavigationManager navManager
<h3>UpdateEmploye</h3>

<Form ButtonText="Update Employee" employee="@employee"
            OnValidSubmit="@UpdateEmployee" />
@code {
    [Parameter]
    public string Id { get; set; }

    Employee employee = new Employee();
    
    protected async override Task OnParametersSetAsync()
    {
       employee = await Service.GetEmployee(int.Parse(Id));
    }
    async Task UpdateEmployee()
    {
        await Service.UpdateEmployee(employee);
        navManager.NavigateTo("/");
    }
}
